# that csv file is too big bruh!
DeepLearning.AI\ TensorFlow\ Developer/C3/W3/assignment/data/glove.6B.100d.txt
DeepLearning.AI\ TensorFlow\ Developer/C3/W3/assignment/data/training_cleaned.csv

# I dont need unzipped files
Tensorflow\ Data\ and Deployment/C1_Browser-based-TF-JS/W3/assignment/data/cats_and_dogs_filtered/